body {
  background-image: url("../images/index.jpg");
  background-color: orange;
  color:#361701;
  font-family: "Josefin Sans", sans-serif;
  margin: 2px;
  padding: 2px;
}
h1 {
  font-family: "Pacifico", cursive;
  color:#ffdfad;
  text-shadow: 2px 2px 2px #361701;
  font-style:normal;
}  
h2, h3 {
  font-family: "Berkshire Swash", sans-serif;
  color:#f5c271;
  text-shadow: 4px 4px 4px #361701;
  font-style:oblique;
/*font-size:30px; */
}
p {
  color:#361701;
}
li {
  color:#361701;
}
legend, fieldset {
  color: #361701;
  /*color:rgb(8, 8, 8);*/
  background-color: burlywood;
  border: double #121212;

}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.rate {
  color:rgb(134, 182, 224);
}

.container {
  column-width: 200px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}
box1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
box2 {
  grid-column: 2/2;
  grid-row: 1/2;
}
box3 {
  grid-column: 1/2;
  grid-row: 2/2;
}
box4 {
  grid-column: 2/2;
  grid-row: 2/2;
}


div {
  border: double cornflowerblue;
}


.wow {
  width: 100px;
}
