body {
  background-image: url("../images/index.jpg");
  background-color: orange;
  color:#1c1100;
  font-family: "Josefin Sans", sans-serif;
  margin: 2px;
  padding: 2px;
}
h1, h2, h3 {
  font-family: "Berkshire Swash", sans-serif;
  color:#f5c271;
  text-shadow: 4px 4px 4px #510321;
  font-style:oblique;
/*font-size:30px; */
}
p {
  color:#1c1100
}
legend, fieldset {
  color: #510321;
  /*color:rgb(8, 8, 8);*/
  background-color: burlywood;
  border: double #121212;

}
.rate {
  color:rgb(134, 182, 224);
}

.container {
  column-width: 200px;
}

.wrapper {
  display: flex;
}

.wrapper > div {
  flex: 1;
}
div {
  border: double cornflowerblue;
}


.wow {
  width: 100px;
}
